@using BlazorApp.Pages.Components.Translator

@* @if (_isLoading)
{
         <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" /> 
    <RadzenIcon class="centered-element" Icon="sync" Style="animation: reverse rotation 750ms linear infinite; font-size: 50px" />
} *@

<div id="reading-page">
        <RadzenRow>
            <RadzenColumn Size="6">
                <RadzenNumeric id="page-changer" ShowUpDown="false" Style="width: 30px" TValue="int?" Value="null" Change="@(pageNumber => ChangePage(pageNumber))" />
                <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                @ActualPageNumber / @PagesCount
            </RadzenColumn>
            <RadzenColumn Size="6" Style="display: flex; justify-content: center;">
                <Translator/>
            </RadzenColumn>
        </RadzenRow>

        <div style="display: flex; justify-content: center">
            <RadzenStack Gap="0" Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenButton id="prev" Icon="arrow_back_ios_new" Click="PreviousPage" />       @*Consider sending onclick right to JS, without C#*@
                <RadzenButton id="next" Icon="arrow_forward_ios" Click="NextPage" />
            </RadzenStack>
        </div>

    <div style="display: flex; justify-content: center; align-items: center">
            <RadzenCard id="reader-card" Style="width: 60%; padding: 20px 40px 20px 40px; height: 600px; position: center">
                <div id="container" style="width: 100%; height: 100%; overflow: hidden;">

                </div>
                @if (_book is not null)
                {

                }
            </RadzenCard>
        </div>
    </div>