@using BlazorApp.Pages.Components.Translator

@* @if (_isLoading)
{
         <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" /> 
    <RadzenIcon class="centered-element" Icon="sync" Style="animation: reverse rotation 750ms linear infinite; font-size: 50px" />
} *@

<div @onclick="DetectClick" id="reading-page">
        <p>
            Lorem ipsum dolor sit amet
        </p>
        @ActualPageNumber / @PagesCount
        <RadzenNumeric id="page-changer" ShowUpDown="false" Style="width: 30px" TValue="int?" Value="null" Change="@(pageNumber => ChangePage(pageNumber))" />

        <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
        <div style="display: flex; justify-content: center">
            <RadzenStack Gap="0" Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
                <RadzenButton id="prev" Icon="arrow_back_ios_new" Click="PreviousPage" />
                <RadzenButton id="next" Icon="arrow_forward_ios" Click="NextPage" />
            </RadzenStack>
        </div>

    <div style="display: flex; justify-content: center; align-items: center">
            <RadzenCard id="reader-card" Style="width: 60%; padding: 20px 40px 20px 40px; height: 600px; position: center">

            <iframe sandbox="allow-same-origin" style="width: 100%; height: 100%; border: none;" id="iframe-container">
            </iframe>
                @if (_book is not null)
                {
                    
                   @*  <object style="height: 100%; width: 100%;" data="data:application/pdf;base64,@_book.Text" type="application/pdf">
                        <p>Ваш браузер не поддерживает отображение PDF.</p>
                    </object> *@
                }
            </RadzenCard>
            <Translator />
        </div>
    </div>