@using BlazorApp.Pages.Components.Translator;
@using Objects.Entities.Translator;
@using Services;

<div id="reading-page" @onclick="HideTranslatorWindow">
    @CurrentPageNumber / @PagesCount
    <RadzenNumeric ShowUpDown="false" id="page-changer" Style="width: 30px" TValue="int?" Value="@insertedPageNumber" Change="JumpToPage" />
    <TranslatorWindow @ref="translatorWindow" WordInfo="WordInfo" ResponseContent="translatorWordResponse" Hidden="isTranslatorHidden" />

    <div style="display: flex; justify-content: center">
        <RadzenStack Gap="0" Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal">
            <RadzenButton Icon="arrow_back_ios_new" Click="PreviousPage" />
            <RadzenButton Icon="arrow_forward_ios" Click="NextPage" />
        </RadzenStack>
    </div>

    <div style="display: flex; justify-content: center; align-items: center">
        <RadzenCard id="reader-card" Style="width: 60%; height: 80vh; padding: 20px 40px 40px 40px; position: center;">
            <div id="host" @ref="host" @onclick="GetSelectedWord" style="width: 100%; height: 100%; overflow-x: clip;"></div>
        </RadzenCard>
    </div>
</div>
