@page "/ConfirmEmail"
@attribute [AllowAnonymous]

@if (_confirmEmailResponseDto is null)
{
    <p>Please wait. We are confirming your email...</p>
}
else
{
    if (_confirmEmailResponseDto.IsSuccessfulConfirmation is true)
    {
        <h3>Email is verified</h3>
        <p>Thank you for confirming your email</p>
    }
    else if (_confirmEmailResponseDto.ErrorMessage is not null)
    {
        <h3>Sorry</h3>
        <p>@_confirmEmailResponseDto.ErrorMessage</p>
        @if (_confirmEmailResponseDto.Url != null)
        {
            <a href="@_confirmEmailResponseDto.Url">@_confirmEmailResponseDto.UrlText</a>
        }
    }
    else
    {
        <h3>Something went wrong</h3>
        <p>Email is not verified. Please try again.</p>
    }
}