.rz-button {
    --rz-button-focus-shadow: var(--rz-shadow-1);
    --rz-button-focus-gradient: none;
}

.custom-dropdown .horizontal-dropdown {
    cursor: pointer;
    height: 32px;
    width: 42px;
    padding: 0px 5px 0px 5px;
}

.custom-dropdown .rz-dropdown-label {
    cursor: pointer;
}

.custom-dropdown .horizontal-dropdown .rz-dropdown-trigger .rzi-chevron-down {
    display: none;
}

.custom-dropdown .horizontal-dropdown .rz-dropdown-label {
    height: 32px;
    width: 32px;
}

.custom-dropdown .rz-dropdown-item {
    display: flex;
    justify-content: center;
}

.custom-dropdown .rz-dropdown-items-wrapper {
    max-height: unset !important;
}

.custom-dropdown .rz-dropdown-item {
    flex: 1;
    padding: 0 !important;
}

.custom-dropdown .dropdown {
    position: relative;
    display: inline-block;
}

