.rz-button {
    --rz-button-focus-shadow: var(--rz-shadow-1);
    --rz-button-focus-gradient: none;
}

.custom-dropdown {
    cursor: pointer;
    height: 32px;
    width: 42px;
    padding: 0px 5.6px 0px 4.4px;
}

.rz-dropdown-label {
    cursor: pointer;
}

.custom-dropdown .rz-dropdown-trigger .rzi-chevron-down {
    display: none;
}

.custom-dropdown .rz-dropdown-label {
    height: 32px;
    width: 32px;
}

.rz-dropdown-item {
    display: flex;
    justify-content: center;
}

.rz-dropdown-items-wrapper {
    max-height: unset !important;
}

.rz-dropdown-item {
    padding: 0 !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.custom-active .active {
    text-decoration: underline;
    border-radius: 4px;
    background-color: rgb(255, 255, 255, 0.14);
}

.custom-numeric {
    width: 35px;
    height: 25px;
    position: absolute;
}

.custom-numeric .rz-inputtext {
    padding: 0px!important;
}

.inline-icon {
    vertical-align: middle;
}