@font-face {
 font-family: Liberation Serif;
 font-weight: bold;
 font-style: normal;
 src: url("OEBPS/Fonts/LiberationSerif-Bold.ttf");
}
@font-face {
 font-family: Liberation Serif;
 font-weight: bold;
 font-style: italic;
 src: url("OEBPS/Fonts/LiberationSerif-BoldItalic.ttf");
}
@font-face {
 font-family: Liberation Serif;
 font-weight: normal;
 font-style: italic;
 src: url("OEBPS/Fonts/LiberationSerif-Italic.ttf");
}
@font-face {
 font-family: Liberation Serif;
 font-weight: normal;
 font-style: normal;
 src: url("OEBPS/Fonts/LiberationSerif-Regular.ttf");
}
@page {
 margin-bottom: 5pt;
 margin-top: 5pt;
}
.pwm-9qnw5bm-over-8 {margin-bottom:2em;}.sline {font-size:1px;}