@page "/ForgotPassword"

@using Microsoft.AspNetCore.Components.Forms
@using Objects.Dto;
@using Services.Authentication;

<h3>ForgotPassword</h3>

<div>
    <RadzenTemplateForm TItem="ForgotPasswordDto" Data="_forgotPasswordDto" Submit="SendEmail">
        <DataAnnotationsValidator />
        <RadzenStack Gap="1rem" class="rz-p-sm-12">
            <RadzenFormField Text="Email" Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenTextBox Name="Email" @bind-Value=_forgotPasswordDto.Email/>
                </ChildContent>
                <Helper>
                    <ValidationMessage For="@(() => _forgotPasswordDto.Email)" />
                </Helper>
            </RadzenFormField>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
        </RadzenStack>
    </RadzenTemplateForm>
</div>
