@page "/ForgotPasswordConfirmation/{status}"

<h3>Forgot Password Confirmation</h3>

@if (Status is "Success")
{
    <p>The link has been sent, please check your email to reset your password.</p>
}
else
{
    <p>Something went wrong. Please try again.</p>
}

@code
{
    [Parameter] public string Status { get; set; } = null!;
}