@using BlazorApp.Pages.Components

@attribute [Route(Routes.Reading)]

<RadzenHeading Text="Reading page"></RadzenHeading>
<div style="padding-left: 50px; padding-right: 50px">
    <Library></Library>
</div>