@attribute [Route(Routes.Read)]

@_actualPageNumber / @(pages.Count)
<div style="display: flex; justify-content: center">
    <RadzenButton Icon="arrow_back_ios" Click="PreviousPage" />     @*TODO Fix icon*@
    <RadzenButton Icon="arrow_forward_ios" Click="NextPage" />
</div>

<div style="display: flex; justify-content: center; align-items: center">
    <RadzenCard Style="width: 60%; height: 600px; position: center">
        @*<RadzenText Style="height: 100%;" TextAlign="TextAlign.Justify">*@
        <iframe sandbox="allow-same-origin" style="width: 100%; height: 100%; border: none;" id="iframe-container">     @*Possible security problem with iframe*@
            @*Text of a book*@
        </iframe>
        @*</RadzenText>*@
    </RadzenCard>
</div>