@attribute [Route(Routes.ReadPdf)]

<h3>ReadPdf</h3>

@code {
    //For pdf       //For pdf maybe I can use freespire.pdf

    //private int GetIndexOfActualPage()
    //{
    //    return Text.IndexOf(_actualPage);
    //}

    //private async void NextPage()
    //{
    //    await SetActualPageText();
    //    if (CurrentPageNumber != Text.Count)
    //    {
    //        _actualPage = Text[GetIndexOfActualPage() + 1];
    //        CurrentPageNumber++;
    //    }
    //}

    //private void PreviousPage()
    //{
    //    if (CurrentPageNumber != 1)
    //    {
    //        _actualPage = Text[GetIndexOfActualPage() - 1];
    //        CurrentPageNumber--;
    //    }
    //}
}
