@using Objects.Dto
@using Microsoft.AspNetCore.Components.Forms

@page "/login"
<h3>Login</h3>

@if (ShowAuthError)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}
<div class="rz-p-0 rz-p-md-12">
    <RadzenTemplateForm TItem="UserForAuthenticationDto" Data="_userForAuthentication" Submit="ExecuteLogin">
        <DataAnnotationsValidator />
        <RadzenStack Gap="1rem" class="rz-p-sm-12">
            <RadzenFormField Text="Email" Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenTextBox Name="Email" @bind-Value=_userForAuthentication.Email />
                </ChildContent>
                <Helper>
                    <ValidationMessage For="@(() => _userForAuthentication.Email)" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Password" Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenPassword Name="Password" @bind-Value=_userForAuthentication.Password />
                </ChildContent>
                <Helper>
                    <ValidationMessage For="@(() => _userForAuthentication.Password)" />
                </Helper>
            </RadzenFormField>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
            <RadzenButton ButtonType="ButtonType.Button" Text="Forgot my password" Click="GoToForgotPassword"></RadzenButton>
        </RadzenStack>
    </RadzenTemplateForm>
</div>