@page "/ResetPasswordConfirmation/{status}"
@attribute [AllowAnonymous]

<h3>Reset Password Confirmation</h3>

@if (Status is "Success")
{
    <p>Your password has been reset. Please <NavLink href="/login">click here to log in</NavLink>.</p>
}
else
{
    <p>Something went wrong. Please try again.</p>
}

@code
{
    [Parameter] public string Status { get; set; } = null!;
}