<p>
    Translation: 
</p>

<RadzenText>
    @if (responseContent is not null)
    {
        @* <RadzenButton Click="@(() => Speak(responseContent.displaySource))"></RadzenButton> *@
        @(wordToTranslate + ": ")

        @foreach (var translation in responseContent.translations)
        {
            @(translation.displayTarget + ", ");
        }
    }

    @error
</RadzenText>