<p>
    Translation: 
</p>

<RadzenText>
    @if (responseContent is not null)
    {
        @(responseContent.displaySource + " ")

        @foreach (var translation in responseContent.translations)
        {
            @(translation.displayTarget + " ");
        }
    }

    @error
</RadzenText>