

@if (_isLoading)
{
    <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="z-index: 101" />
    <div style="background-color: var(--rz-base-100); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 100;"></div>
}

<ReaderComponent CurrentPageNumber="@CurrentPageNumber" PagesCount="@PagesCount" BookLanguage="@BookLanguage"
                 NextPageCallback="NextPage" PreviousPageCallback="PreviousPage" JumpToPageCallback="JumpToPage" Ready="AfterReaderReady"/>